<div class="d-flex flex-column justify-content-md-center align-items-center vh-100">
  <h1>Thank you for booking.</h1>
  <h4>You can check the details of your booking in your profile.</h4>
  <p>I love you ❤️</p>
</div>
